{# Here we are in a <div class="row"> </div> #}

{% extends "MariagePresentBundle::layout.html.twig" %}

{% block other_style %}
<style>
    body{
        background: linear-gradient(to top, #E1E6FA, white);
    }
    .panel-heading{
        margin: 0;
        padding: 0;
    }
    .panel-title{
        padding: 2px 0 0 5px ;
        background: #115882;
        color: white;
    }
</style>
{% endblock %}

{% block title %}
    <h1 class="page-header text-center titles"> La liste de mariage </h1>
{% endblock %}

{% block present_list %}
    <div class="col-xs-12">
        <p class="lead">
            Après 8 années de vie commune, notre intérieur est maintenant bien équipé...
            Nous vous invitons donc à participer au financement de notre voyage de noces.
        </p>
        <p class="lead">
            Mais également à son choix, en votant pour départager l'Irlande et la Finlande.
            <br />
            <br />
        </p>
    </div>

    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">

                <ul class="list-group">
                    <li class="list-group-item">
                        <h3> <span class="paradise">Irlande</span>
                            <small><a href="http://www.guide-irlande.com/comptoir-des-voyages/reservez-votre-voyage/itinerants-autotours-irlande/balade-irlandaise/">
                                    découvrir le voyage</a>
                            </small>
                        </h3>
                        <img src="{{ asset('photos/irlande_lac.jpg') }}" class="img-responsive" alt="photo Irlande" />
                        <ul class="list-group">
                            <h4>Liste des activités prévues</h4>
                            <li class="list-group-item"> Boire une Guinness <s>ou</s> ET boire un whiskey</li>
                            <li class="list-group-item"> Voler son or à un farfadet </li>
                            <li class="list-group-item"> Trouver un treffle à 4 feuilles </li>
                            <li class="list-group-item"> Danser une gigue irlandaise  =>
                                <a href="https://www.youtube.com/watch?v=m0vrDaAhI9k" target="_blank">Vidéo</a> </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <h3> <span class="paradise">Finlande</span>
                            <small><a href="http://www.visitfinland.com/fr/5-choses-a-faire-pour-vivre-hiver-a-fond/">
                                    découvrir le voyage</a>
                            </small>
                        </h3>
                        <img src="{{ asset('photos/finlande.jpg') }}" class="img-responsive" alt="photo Finlande" />
                        <ul class="list-group">
                            <h4>Liste des activités prévues</h4>
                            <li class="list-group-item"> Donner nos lettres au Père-Noël</li>
                            <li class="list-group-item"> Nourrir Rodolph </li>
                            <li class="list-group-item"> Dormir dans une kota </li>
                            <li class="list-group-item"> Danser sur du Rock Sami =>
                                <a href="https://www.youtube.com/watch?v=Apmyo8lNWQ8" target="_blank">Vidéo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>

        <br class="visible-xs"/>
        <hr class="visible-xs"/>

    <div class="col-xs-12 col-sm-3 fixed">
        <div class="row">
            <div class="col-xs-12">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Votez !
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-success" href="{{ path('mariage_present_voteForCountry', {'id': 'irlande'}) }}">
                                Irlande </a>
                            <a class="btn btn-info" href="{{ path('mariage_present_voteForCountry', {'id': 'finlande'}) }}">
                                Finlande </a>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" style="text-align:left" value="{{ rateIrlande|round(2) }}">
                                <span class="input-group-addon">%</span>
                                <input type="text" class="form-control" style="text-align:right" value="{{ rateFinlande|round(2) }}">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
