{# Main menu include in base.html.twig #}
{# Here we are in a <div class="row"> #}

<div class="text-center container-fluid">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="tab" class="">
                <a href="{{ path('homepage') }}">
                    <span class="glyphicon glyphicon-heart-empty"></span></a>
            </li>

            <li role="tab" class="">
                <a href="{{ path('mariage_guest_homepage') }}"> Invités </a>
            </li>

            <li role="tab" class="">
                <a href="{{ path('mariage_present_homepage') }}"> Liste de mariage </a>
            </li>

            <li role="tab" class="">
                <a href="{{ path('mariage_guest_organization') }}"> Organisation </a>
            </li>

            <li role="tab" class="">
                <a href="{{ path('mariage_guest_music') }}"> Musiques </a>
            </li>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li role="tab"><a href="{{ path('mariage_guest_message') }}"> Confirmer sa présence </a></li>
                <li role="tab"><a href="{{ path('fos_user_security_logout') }}"> Déconnexion</a></li>
            {% else %}
                <li role="tab">
                    <a href="{{ path('fos_user_security_login') }}"> Connexion </a>
                </li>
            {% endif %}

            <li class="navbar-text lead" id="timer"><b>Jour J</b></li>
        </ul>
    {% endif %}
</div>
