{% extends "::base.html.twig" %}


{% block other_style %}
<style>
    html{
        min-height: 100%;
    }
    {#body{
        background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.1) , rgba(255, 255, 255, 0.7)) 0 0 no-repeat, url("{{ asset('img/once_upon.jpg') }}") bottom no-repeat;
        background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1) , rgba(255, 255, 255, 0.7)) 0 0 no-repeat, url("{{ asset('img/once_upon.jpg') }}") bottom no-repeat;
        background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.1) , rgba(255, 255, 255, 0.7)) 0 0 no-repeat, url("{{ asset('img/once_upon.jpg') }}") bottom no-repeat;
        background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1) , rgba(255, 255, 255, 0.7)) 0 0 no-repeat, url("{{ asset('img/once_upon.jpg') }}") bottom no-repeat;
        background: linear-gradient(bottom, rgba(255, 255, 255, 0.1) , rgba(255, 255, 255, 0.7)) 0 0 no-repeat, url("{{ asset('img/once_upon.jpg') }}") bottom no-repeat;
    }#}
    body{
        background: linear-gradient(to bottom, #FEFEE0 30%, #ffffff);
    }
    .carousel-container{
        margin-top: 5em;
    }
</style>
{% endblock %}

{% block body %}

    <div class="carousel-container col-xs-12">
        <div id="carousel">
            <div class="carousel-feature">
                <a href="#"><img class="carousel-image" alt="Image Caption" src="{{ asset('photos/cadenas.jpg') }}"></a>
                <div class="carousel-caption">
                    <h4> Once Unpon A Time </h4>
                </div>
            </div>
            <div class="carousel-feature">
                <a href="#"><img class="carousel-image" alt="Image Caption" src="{{ asset('photos/mel_flo.jpg') }}"></a>
                <div class="carousel-caption">
                    <h4> Chapitre I </h4>
                    <p>
                        Rencontre des protagonistes
                    </p>
                </div>
            </div>

            <div class="carousel-feature">
                <a href="#"><img class="carousel-image" alt="Image Caption" src="{{ asset('photos/metz.jpg') }}"></a>
                <div class="carousel-caption">
                    <h4> Chapitre II </h4>
                    <p>
                        Décembre 2007, nous emménageons dans notre château... Enfin, juste à côté...
                    </p>
                </div>
            </div>

            <div class="carousel-feature">
                <a href="#"><img class="carousel-image" alt="Image Caption" src="{{ asset('photos/bague.jpg') }}"></a>
                <div class="carousel-caption">
                    <h4> Chapitre III </h4>
                    <p>
                        3 décembre 2010, le pouvoir royal signe notre Pacs.
                    </p>
                </div>
            </div>

            <div class="carousel-feature">
                <a href="#"><img class="carousel-image" alt="Image Caption" src="{{ asset('photos/mel_moto.jpg') }}"></a>
                <div class="carousel-caption">
                    <h4> Chapitre IV </h4>
                    <p>
                        2014, nous partons à l'aventure : commencement des fiancailles !
                    </p>
                </div>
            </div>
            <div class="carousel-feature">
                <a href="#"><img class="carousel-image" alt="Image Caption" src="{{ asset('photos/paris.jpg') }}"></a>
                <div class="carousel-caption">
                    <h4> &Eacute;pilogue </h4>
                    <p>
                        Rendez-vous le <b>13 juin</b> pour la fin heureuse !!!
                    </p>
                </div>
            </div>
        </div>

        <div id="carousel-left"><img src="{{ asset('img/arrow-left.gif') }}" /></div>
        <div id="carousel-right"><img src="{{ asset('img/arrow-right.gif') }}" /></div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-1.7.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/jquery.featureCarousel.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function() {
            var carousel = $("#carousel").featureCarousel({
                // include options like this:
                // (use quotes only for string values, and no trailing comma after last option)
                // option: value,
                // option: value
            });

            $("#but_prev").click(function () {
                carousel.prev();
            });
            $("#but_next").click(function () {
                carousel.next();
            });
        });
    </script>
{% endblock %}
