{# Here we are in a <div class="row"> </div> #}

{% extends "MariageGuestBundle::layout.html.twig" %}

{% block other_style %}
    <style>
        html{
            background-color: #000000;
        }
        body{
            background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1)) 0 0 no-repeat, url("{{ asset('img/tournesol.jpg') }}") 100% 0% no-repeat;
            background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1)) 0 0 no-repeat, url("{{ asset('img/tournesol.jpg') }}") 100% 0% no-repeat;
            background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1)) 0 0 no-repeat, url("{{ asset('img/tournesol.jpg') }}") 100% 0% no-repeat;
            background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1)) 0 0 no-repeat, url("{{ asset('img/tournesol.jpg') }}") 100% 0% no-repeat;
            background: linear-gradient(bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1)) 0 0 no-repeat, url("{{ asset('img/tournesol.jpg') }}") 100% 0% no-repeat;
            background-size: cover;
        }
        .panel-heading{
            padding-top: 2px;
            padding-bottom: 1px;
            margin: 0;
            padding: 0;
        }
        .panel-title{
            margin: 0;
            padding: 0;
            padding-left: 6px;
            background: linear-gradient( #ACFA58 20%, white);
        }
        .punaise{
            width: 1.1em;
            position: absolute;
            z-index: 100;
            center: 0px;
        }
    </style>
{% endblock %}

{% block title %}
    <h1 class="page-header text-center titles"> L'organisation </h1>
{% endblock %}

{% block table_guests %}

    <div class="row col-xs-12">
        <div class="col-xs-12 col-sm-5">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title"> La mairie
                        <img src="{{ asset('img/punaise2.png') }}" alt="punaise" class="punaise"/> </div>
                </div>
                <div class="panel-body">
                    Rendez-vous à la mairie de Boust à <b>17h30</b>.
                </div>
                <div class="panel-footer">

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5189.218062622762!2d6.187490184211213!3d49.435205130775955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x1f6b8d1f3467decb!2sMairie!5e0!3m2!1sfr!2sfr!4v1420804710258">
                        </iframe>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-sm-offset-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title"> La date
                        <img src="{{ asset('img/punaise2.png') }}" alt="punaise" class="punaise"/> </div>
                </div>
                <div class="panel-body">
                    Rendez-vous le 13 juin 2015 !
                </div>
            </div>
        </div>

    </div>


    <div class="col-xs-12 col-sm-5">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title"> La salle
                    <img src="{{ asset('img/punaise2.png') }}" alt="punaise" class="punaise"/> </div>
            </div>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th> Salle </th>
                    <td> Centre socio-culturel </td>
                </tr>
                <tr>
                    <th> Localisation </th>
                    <td> Rue des Bleuets </td>
                </tr>
                <tr>
                    <th> Code postale </th>
                    <td> 57570 </td>
                </tr>
                <tr>
                    <th> Ville </th>
                    <td> Boust </td>
                </tr>
                <tr>
                    <th> Coordonnées GPS </th>
                    <td> X :6.19462110 Y :49.43662460 </td>
                </tr>
                <tr>
                    <th> Précision </th>
                    <td> &Agrave; 400m de la mairie </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row col-xs-12">
        <div class="col-xs-12 col-sm-4">
            <br/><br/>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title"> Animation et musique
                        <img src="{{ asset('img/punaise2.png') }}" alt="punaise" class="punaise"/> </div>
                </div>
                <div class="panel-body">
                    Olivier, <a href="tel:0664410360"> 06.64.41.03.60 </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-sm-offset-5">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title"> Le traiteur
                        <img src="{{ asset('img/punaise2.png') }}" alt="punaise" class="punaise"/> </div>
                </div>
                <div class="panel-body">
                    O'Délices, 13 rue du Général de Rascas, 57220 Boulay-Moselle, <a href="tel:0643563137">06.43.56.31.37</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title"> Le Wedding Cake
                    <img src="{{ asset('img/punaise2.png') }}" alt="punaise" class="punaise"/> </div>
            </div>
            <div class="panel-body">
                Réalisé par Crazy Cake, 18 rue des Châteaux, 57570 Cattenom
            </div>
        </div>
    </div>

{% endblock %}
