{# Here we are in a <div class="row"> #}

{% extends "MariageGuestBundle::layout.html.twig" %}


{% block title %}
    <h1 class="page-header text-center titles"> Confirmer sa présence </h1>
{% endblock %}


{% block table_guests %}

<div class="col-xs-12">
    <p class="text-center paradise">
        Veuillez également nous préciser toute spécificité ou difficulté alimentaire. Merci.
    </p>
    <br/>
</div>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'control-label col-xs-12 col-sm-2'}} ) }}
            {{ form_widget(form.firstname, {'attr': {'class': 'col-xs-12 col-sm-6'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.body, 'Message', {'label_attr': {'class': 'control-label col-xs-12 col-sm-2'}} ) }}
            {{ form_widget(form.body, {'attr': {'class': 'col-xs-12 col-sm-6'}} ) }}
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-sm-offset-2">
                <button type="submit" name="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-envelope"></span> Envoyer </button>
            </div>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

{% endblock %}
